#settingsIcon{
    font-size: 400px;
    color: white;
}

#settingsWindow {
  position: absolute;
  z-index: 9;
  background-color: rgb(22, 22, 22);
  border: 1px solid #d3d3d3;
  text-align: center;
  color: white;
  padding-bottom: 4px;
}

#settingsWindowHeader {
/*   padding: 10px; */
  height: 24px;
  cursor: move;
  z-index: 10;
  font-size:small;
  background: linear-gradient(to top, #2f3241 0%, #44495e 100%);
  background-color: rgb(15, 15, 15);
  color: #fff;
}
#closeButton {
    color: white;
    background-color: #2f3241;
	border: 2px solid #2f3241;
}

#theme{
	width: 200px;
  padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #2f3241ee;
	color: white;
	font-size: 16px;
}
#cloak {
    color: white;
    background-color: #2f3241;
	border: 2px solid #2f3241;
}